
html {
    box-sizing: border-box;
}

:root {
    --primari-brand-text-color:#4D5AE5;
    --primari-bg-color:#fff;
    --link-text-color:#4D5AE5;
    --body-text-color:#434455;
    --heading-text-color:#2E2F42;
    --buttons-color:#404BBF;
    --fotter-color: #E7E9FC;
    --color-white: #FFFFFF;
    --color-batton-filtr: #F4F4FD;
    --card-set-gap: 24px;
}
body {
    color:var(--body-text-color) ;
    background-color: var(--primari-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;}

.conteiner {
   /* outline: 2px solid tomato; */

   margin-left: auto;
   margin-right: auto;
   width: 1158px;
   padding-right: 15px;
   padding-left: 15px;
   align-items: center;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.menu {
    display: flex;
}
.header {
    display: flex;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.conteiner-nav {
    display: flex;
    align-items: center;
}
.list { 
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo {
    margin-right: 77px;
    color:var(--heading-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.accent {
    color: var(--link-text-color);
}
.logo:hover, .logo:hover {
    color: var(--link-text-color);
}

/* Site nav */
.site-nav {
    display: flex;
}
.site-nav .item + .item {
   margin-left: 40px;
}
.site-nav .link{
    /* outline: 2px solid tomato; */
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 600;
    color: var(--heading-text-color);
    text-decoration: none;
    
}
.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--link-text-color);
}

.auth-nav {
    display: flex;
    /* outline: 2px solid tomato; */
    margin-left: auto;

}
.auth-nav .contact-link + .contact-link {
    margin-left: 40px;
}
.auth-nav .link{
  color: var(--body-text-color);
    text-decoration: none;
    
}
.auth-nav .link:hover, .auth-nav .link:focus {
  color: var(--link-text-color);
}
.contact-link {
    font-weight: 400;

}


/* Hero */
.hero {
        flex-wrap: wrap;
    background-color: var(--heading-text-color);
    /* outline: 2px solid tomato; */
    text-align: center;
    padding: 192px 0px;
}
.hero-title {
   font-weight: 600;
   font-size: 56px;
   line-height: 1.07;
   color: var(--color-white);
   margin-top: 0px;
   margin-left: auto;
   margin-right: auto;
   width: 492px;

}
.button-hero {

    color:var(--primari-bg-color);
    background-color: var(--link-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    border: 1px solid transparent;
    text-align: center;
    margin-top: 48px;  
}
.button:hover, .button:focus {background-color: var(--link-text-color);
color: var(--primari-bg-color);
}
.section-title {
    color: #2E2F42
}
/* Преимущества */
.feature {
   padding-bottom: 0px;
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
}
 .item-feature {
    width: calc((100% - 72px) / 4);
   margin-right: 24px;
}

.item-feature:nth-child(4n) {
    margin-right: 0px;}
.feature-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--heading-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-text {
    margin-top: 8px;
    margin-bottom: 0px;
}
/* Работа */

.section-title {
    display: block;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
;
}
.list-work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
}
.item-work {
    
    /* border: 1px solid #E7E9FC; */
    max-width: 100%;
    margin-right: 24px;
} 
.item-work:nth-child(3n) {
    margin-right: 0px;
}

/* Команда */
.team {
background-color: var(--color-batton-filtr);

padding-bottom: 120px;
}
.section-name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height:1.2;
    text-align: center;
    color: var(--heading-text-color);
}
.section-text {
    text-align: center;
}
.list-team {
    display: flex;
    margin-top: 72px;
    margin-right: calc(-1 * var(--card-set-gap));
    
}
.item-team {
    margin-right: var(--card-set-gap);
    flex-basis: calc(100%/4 - var(--card-set-gap));

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-team:nth-child(4n) {
    margin-right: 0px;
    
}
.team-coment {
    padding: 32px 16px;
}

/* Button */
.button{
    display: inline-block;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69;
    color:var(--link-text-color) ;
    background-color: var(--color-batton-filtr);
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #E7E9FC;
}
.button:hover, 
.button:focus {background-color: var(--link-text-color);
color: var(--primari-bg-color);
}

/* Проекты */

.project-list {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    gap: 24px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc( -1 * var( --card-set-gap));
    margin-top: 72px;
}
.product-item {
    flex-basis: calc(100%/3-24);
    margin-left: var(--card-set-gap);
    margin-bottom: var(--card-set-gap);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.product-item:nth-child(3n) {
    margin-right: 0px;
}
.card-content {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 16px;
}
/* .product-item:nth-child(-n + 3) {
    margin-bottom: 0px;
    ;
} */

.list .project-link {
    text-decoration: none;
    list-style: none;
} 
.project-title {
    color: var(--heading-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;}

.project-text {color: var(--body-text-color);}

/* Footer    */
.logo-footer {
    color:var(--primari-bg-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}
.footer {
    background-color: var(--heading-text-color);

    padding: 100px 0px;
}
.footer-text {
    margin-top: 16px;
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fotter-color);
   }
